<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="container-fluid">
<div class="min-vh-100">
    <header class="navbar navbar-expand-md border-bottom p-3" style="min-height: 90px">
        <div class="container-fluid">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <i class="navbar-toggler-icon"></i>
            </button>

            <a href="index.html" class="navbar-brand mx-auto mx-md-0 fw-bold">Styliqueo</a>

            <div class="d-md-none invisible pe-none">
                <button class="navbar-toggler border-0" type="button">
                    <i class="navbar-toggler-icon"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <section class="d-flex flex-column flex-md-row gap-3 align-items-start align-items-md-center order-md-last ms-md-auto mt-4 mt-md-0">
                    <form class="w-100"><input class="form-control" type="search" placeholder="Search..."></form>
                    <div class="d-flex flex-column flex-md-row gap-3">
                        <a href="dashboard.html" class="text-body"><i class="bi bi-person fs-3"></i></a>
                        <a href="cart.html" class="text-body"><i class="bi bi-bag fs-4"></i></a>
                    </div>
                </section>

                <ul class="navbar-nav gap-2 gap-md-0 mt-4 mt-md-0 ms-md-4">
                    <li class="nav-item"><a class="nav-link active fs-5" href="category.html">Men's</a></li>
                    <li class="nav-item"><a class="nav-link active fs-5" href="category.html">Women's</a></li>
                    <li class="nav-item"><a class="nav-link active fs-5" href="category.html">Unisex</a></li>
                    <li class="nav-item"><a class="nav-link active fs-5" href="category.html">Accessories</a></li>
                </ul>
            </div>
        </div>
    </header>


    <main class="container-fluid my-5 mx-auto" style="max-width: 1300px;">
        <div class="row g-5">

            <div class="col-md-7">
                <input type="search" class="form-control form-control-lg bg-light mb-4" placeholder="Search by name....">

                <div class="overflow-y-auto overflow-x-hidden pe-3" style="max-height: 75vh;">
                    <div class="container-fluid px-0">

                        <div class="row g-2 mb-3 align-items-center border bg-light p-2">
                            <div class="col-1 text-center">
                                <p class="mb-0">333</p>
                            </div>
                            <div class="col-2">
                                <div class="ratio ratio-1x1 bg-white border">
                                    <img src="assets/img/mens/ManDenimJacket.jpg" alt="product" class="object-fit-contain">
                                </div>
                            </div>
                            <div class="col-2">
                                <p class="fw-bold text-truncate mb-0">Jacket</p>
                            </div>
                            <div class="col-2">
                                <p class="text-truncate mb-0">Men's</p>
                            </div>
                            <div class="col-1 text-center">
                                <p class="mb-0">33.33$</p>
                            </div>
                            <div class="col-2 text-center">
                                <p class="mb-0">99</p>
                            </div>
                            <div class="col-2">
                                <div class="d-flex gap-2">
                                    <a href="edit_item.html" class="btn btn-outline-secondary w-50" type="button"><i class="bi bi-pencil"></i></a>
                                    <button class="btn btn-outline-secondary w-50" type="button"><i class="bi bi-x-lg"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="d-flex gap-2 mt-4 w-100">
                    <button class="btn btn-outline-secondary" type="button" style="width: 15%;">
                        <i class="bi bi-chevron-double-left"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" style="width: 15%;">
                        <i class="bi bi-chevron-left"></i>
                    </button>
                    <div class="form-control text-center bg-light border-0" style="width: 40%;">1</div>
                    <button class="btn btn-outline-secondary" type="button" style="width: 15%;">
                        <i class="bi bi-chevron-right"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" style="width: 15%;">
                        <i class="bi bi-chevron-double-right"></i>
                    </button>
                </div>
            </div>

            <div class="col-md-5">
                <div class="mx-auto" style="max-width: 500px;">
                    <h2 class="fw-bold mb-5">Administrator</h2>

                    <p class="fs-3 mb-2">John Doe</p>
                    <p class="fs-4 mb-5">john.doe@goodmail.com</p>

                    <p class="fs-4 mt-5 pt-5 mb-5">Last logged in: 10.02.2033, 17:11</p>

                    <section class="mt-5">
                        <div class="d-grid mt-2">
                            <a href="edit_item.html" type="button" class="btn btn-outline-secondary btn-lg py-3">Add New Item</a>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </main>
</div>

<footer class="border-top p-3">
    <div class="d-flex justify-content-between align-items-top mt-2">
        <h2 class="fw-bold fs-2">Styliqueo</h2>

        <section class="d-flex gap-3">
            <a href="https://instagram.com"><i class="bi bi-instagram fs-4"></i></a>
            <a href="https://threads.com"><i class="bi bi-threads fs-4"></i></a>
            <a href="https://youtube.som"><i class="bi bi-youtube fs-4"></i></a>
            <a href="https://x.com"><i class="bi bi-twitter-x fs-4"></i></a>
            <a href="https://tiktok.com"><i class="bi bi-tiktok fs-4"></i></a>
            <a href="https://pinterest.com"><i class="bi bi-pinterest fs-4"></i></a>
        </section>
    </div>
</footer>
</body>
</html>
