<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Delivery Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="container-fluid">
<div class="min-vh-100">
    <header class="navbar navbar-expand-md border-bottom p-3" style="min-height: 90px">
        <div class="container-fluid">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <i class="navbar-toggler-icon"></i>
            </button>

            <a href="index.html" class="navbar-brand mx-auto mx-md-0 fw-bold">Styliqueo</a>

            <div class="d-md-none invisible pe-none">
                <button class="navbar-toggler border-0" type="button">
                    <i class="navbar-toggler-icon"></i>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <section class="d-flex flex-column flex-md-row gap-3 align-items-start align-items-md-center order-md-last ms-md-auto mt-4 mt-md-0">
                    <form class="w-100"><input class="form-control" type="search" placeholder="Search..."></form>
                    <div class="d-flex flex-column flex-md-row gap-3">
                        <a href="dashboard.html" class="text-body"><i class="bi bi-person fs-3"></i></a>
                        <a href="cart.html" class="text-body"><i class="bi bi-bag fs-4"></i></a>
                    </div>
                </section>

                <ul class="navbar-nav gap-2 gap-md-0 mt-4 mt-md-0 ms-md-4">
                    <li class="nav-item"><a class="nav-link active fs-5" href="category.html">Men's</a></li>
                    <li class="nav-item"><a class="nav-link active fs-5" href="category.html">Women's</a></li>
                    <li class="nav-item"><a class="nav-link active fs-5" href="category.html">Unisex</a></li>
                    <li class="nav-item"><a class="nav-link active fs-5" href="category.html">Accessories</a></li>
                </ul>
            </div>
        </div>
    </header>


    <main class="container-fluid my-5 mx-auto" style="max-width: 1300px;">
        <h1 class="fw-bold mb-5">Delivery Details</h1>

        <div class="row g-5">
            <div class="col-md-7">
                <div class="pe-3 overflow-auto" style="max-height: 75vh;">
                    <div class="container-fluid px-0">

                        <div class="btn-group w-100 mb-5">
                            <input type="radio" class="btn-check" name="deliveryMethod" id="homeDelivery" checked>
                            <label class="btn btn-outline-secondary py-2 fs-5" for="homeDelivery">Home Delivery</label>

                            <input type="radio" class="btn-check" name="deliveryMethod" id="pickUp">
                            <label class="btn btn-outline-secondary py-2 fs-5" for="pickUp">Pick Up In Store</label>
                        </div>

                        <div class="mb-4">
                            <label class="form-label fs-3">Full name</label>
                            <input type="text" class="form-control form-control-lg py-3" placeholder="Name Surname...">
                        </div>

                        <div class="mb-4">
                            <label class="form-label fs-3">Email</label>
                            <input type="email" class="form-control form-control-lg py-3" placeholder="email...">
                        </div>

                        <div class="mb-4">
                            <label class="form-label fs-3">Phone number</label>
                            <input type="tel" class="form-control form-control-lg py-3" placeholder="phone number...">
                        </div>

                        <div class="mb-4">
                            <label class="form-label fs-3">Street and House Number</label>
                            <input type="text" class="form-control form-control-lg py-3" placeholder="street and house number...">
                        </div>

                        <div class="mb-4">
                            <label class="form-label fs-3">Postcode</label>
                            <input type="text" class="form-control form-control-lg py-3" placeholder="postcode...">
                        </div>

                        <div class="mb-5">
                            <label class="form-label fs-3">Country</label>
                            <input type="text" class="form-control form-control-lg py-3" placeholder="country...">
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="mx-auto" style="max-width: 500px;">
                    <h2 class="fw-bold fs-2 mb-5">Order summary</h2>

                    <div class="d-flex justify-content-between mb-2">
                        <p class="fs-4 mb-0">Cost:</p>
                        <p class="fs-4 mb-0">300 $</p>
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <p class="fs-4 mb-0">Discount:</p>
                        <p class="fs-4 mb-0">30 $</p>
                    </div>
                    <div class="d-flex justify-content-between mb-5">
                        <p class="fs-4 mb-0">Delivery:</p>
                        <p class="fs-4 mb-0">3 $</p>
                    </div>

                    <div class="d-flex justify-content-between mb-2">
                        <h2 class="fs-3 mb-0 fw-bold">Total cost:</h2>
                        <h2 class="fs-3 mb-0 fw-bold">1000 $</h2>
                    </div>
                    <div class="d-flex justify-content-between mb-5">
                        <h2 class="fs-3 mb-0 fw-bold">VAT:</h2>
                        <h2 class="fs-3 mb-0 fw-bold">230 $</h2>
                    </div>

                    <section class="mt-5">
                        <div class="d-grid mt-2">
                            <a href="contact_info.html" class="btn btn-outline-secondary btn-lg">Go to contact info and payment</a>
                        </div>
                    </section>
                </div>
            </div>

        </div>
    </main>
</div>

<footer class="border-top p-3">
    <div class="d-flex justify-content-between align-items-top mt-2">
        <h2 class="fw-bold fs-2">Styliqueo</h2>

        <section class="d-flex gap-3">
            <a href="https://instagram.com"><i class="bi bi-instagram fs-4"></i></a>
            <a href="https://threads.com"><i class="bi bi-threads fs-4"></i></a>
            <a href="https://youtube.som"><i class="bi bi-youtube fs-4"></i></a>
            <a href="https://x.com"><i class="bi bi-twitter-x fs-4"></i></a>
            <a href="https://tiktok.com"><i class="bi bi-tiktok fs-4"></i></a>
            <a href="https://pinterest.com"><i class="bi bi-pinterest fs-4"></i></a>
        </section>
    </div>
</footer>
</body>
</html>
