<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Page</title>
</head>

<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/men.html">Men</a>
            </li>
            <li>
                <a href="/woman.html">Woman</a>
            </li>
            <li>
                <a href="/unisex.html">Unisex</a>
            </li>
        </ul>
    </nav>

    <form action="/search.html">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <div>
        <a href="profile.html">Profile</a>
        <a href="/cart.html">Cart</a>
    </div>
</header>

<main>
    <article>
        <h1>Product name</h1>

        <div>
            <img src="main_product_photo.png" alt="Main product photo">

            <ul>
                <li><img src="side_photo_1.png" alt="side_photo_1"></li>
                <li><img src="side_photo_2.png" alt="side_photo_2"></li>
                <li><img src="side_photo_3.png" alt="side_photo_3"></li>
            </ul>
        </div>

        <div>
            <p>
                This is very interesting description.
                We will write it later.
                This will be really good, but not today.
            </p>

            <ul>
                <li><a href="/tag-1">Tag 1</a></li>
                <li><a href="/tag-2">Tag 2</a></li>
                <li><a href="/tag-3">Tag 3</a></li>
            </ul>

            <p><strong>300$</strong></p>

            <button type="button">Add to Cart</button>
        </div>
    </article>
</main>

<footer>
    <address>
        Contact us:
        <a href="example@example.com">example@example.com</a>
    </address>

    <nav>
        <a href="/use_conditions.html">Conditions of Use</a>
        <a href="/privacy_policy.html">Privacy Policy</a>
        <a href="/payment_and_delivery.html">Payment and Delivery</a>
    </nav>
</footer>
</body>
</html>