<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="/men.html">Men</a>
            </li>
            <li>
                <a href="/woman.html">Woman</a>
            </li>
            <li>
                <a href="/unisex.html">Unisex</a>
            </li>
        </ul>
    </nav>

    <form action="/search.html">
        <input type="text" placeholder="Search...">
        <button type="submit">Search</button>
    </form>

    <div>
        <a href="profile.html">Profile</a>
        <a href="/cart.html">Cart</a>
    </div>
</header>

<main>
    <h1>Profile settings</h1>

    <div class="form-row">
        <label for="name">Name</label>
        <input type="first-name" id="name" value="First Name">
        <input type="last-name" id="last-name" value="Last Name">
    </div>

    <div class="form-row">
        <label for="email">Email</label>
        <input type="email" id="email" value="example@example.com">
    </div>

    <div class="form-row">
        <label for="phone-number">Phone Number</label>
        <input type="phone-number" id="phone-number" value="+421 *** *** ***">
    </div>

    <div class="form-row">
        <label for="region">Country/Region</label>
        <input type="region" id="region" value="Your Region">
    </div>

    <div class="form-row">
        <label for="address">Address</label>
        <input type="address" id="address" value="Address">
    </div>
</main>

<footer>
    <address>
        Contact us:
        <a href="example@example.com">example@example.com</a>
    </address>

    <nav>
        <a href="/use_conditions.html">Conditions of Use</a>
        <a href="/privacy_policy.html">Privacy Policy</a>
        <a href="/payment_and_delivery.html">Payment and Delivery</a>
    </nav>
</footer>
</body>
</html>